# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.NutrientsApp.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ozonp\RiderProjects\NutrientsApp\.idea\.idea.NutrientsApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
